.wave {
  position: relative;
  overflow: hidden;
  margin-bottom: 180px;

  @include mediaMobileFirst(970) {
    margin-bottom: 140px;
  }

  @include mediaMobileFirst(700) {
    margin-bottom: 40px;
  }

  &-waves {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    transform: translateY(580px);
    transition: 0.7s;
  }

  &-topContent {
    max-width: 618px;
    width: 100%;
    margin: 0 auto;
    margin-top: 85px;
    @include alignDrtCtr;
    transform: translateY(-550px);
    transition: 0.7s;

    @include mediaMobileFirst(1300) {
      max-width: 550px;
      margin-top: 70px;
    }

    @include mediaMobileFirst(1130) {
      margin-top: 60px;
    }

    @include mediaMobileFirst(950) {
      margin-top: 50px;
    }

    &_title {
      text-align: center;
      font-family: $ral-sembold;
      font-size: 35px;
      line-height: 137.4%;
      color: $dark;
      margin-bottom: 38px;

      @include mediaMobileFirst(1300) {
        font-size: 30px;
        margin-bottom: 30px;
        line-height: 130%;
      }

      @include mediaMobileFirst(1130) {
        font-size: 25px;
        margin-bottom: 20px;
        line-height: 125%;
      }

      @include mediaMobileFirst(950) {
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 120%;
      }
    }

    &_topText {
      font-family: $ral-sembold;
      font-size: 18px;
      line-height: 137.4%;
      color: $dark;
      text-align: center;

      @include mediaMobileFirst(1300) {
        font-size: 15px;
        line-height: 130%;
      }

      @include mediaMobileFirst(1130) {
        font-size: 12px;
        line-height: 125%;
      }

      @include mediaMobileFirst(950) {
        font-size: 10px;
        line-height: 120%;
      }

      @include mediaMobileFirst(340) {
        max-width: 250px;
      }
    }

    &_text {
      font-family: $ral-sembold;
      font-size: 18px;
      line-height: 137.4%;
      color: $dark;
      max-width: 342px;
      width: 100%;
      text-align: center;
      margin-block: 85px 55px;

      @include mediaMobileFirst(1300) {
        font-size: 15px;
        line-height: 130%;
        max-width: 300px;
        margin-block: 65px 45px;
      }

      @include mediaMobileFirst(1130) {
        font-size: 12px;
        line-height: 125%;
        max-width: 260px;
        margin-block: 45px 35px;
      }

      @include mediaMobileFirst(950) {
        max-width: 220px;
        width: 100%;
        margin-block: 25px 25px;
      }
    }

    &_btn {
      background-color: $white-yellow;
      border: 3px solid $white-yellow;
      border-radius: 50px;
      max-width: 322px;
      padding-block: 21px;
      position: relative;
      z-index: 1;
      font-size: 15px;
      letter-spacing: 0.1em;
      box-shadow: $btnShadow;

      @include mediaMobileFirst(1300) {
        max-width: 290px;
        padding-block: 16px;
      }

      @include mediaMobileFirst(1130) {
        max-width: 260px;
      }

      @include mediaMobileFirst(950) {
        max-width: 260px;
        padding-block: 12px;
      }

      @include mediaMobileFirst(460) {
        font-size: 12px;
        max-width: 200px;
        padding-block: 8px;
      }
    }

    &_btn span {
      position: absolute;
      width: 25%;
      height: 100%;
      background-color: $white;
      transform: translateY(150%);
      border-radius: 50%;
      left: calc((var(--n) - 1) * 25%);
      transition: 0.5s;
      transition-delay: calc((var(--n) - 1) * 0.1s);
      z-index: -1;
    }

    &_btn:hover {
      color: $white-yellow;
    }

    &_btn:hover span {
      transform: translateY(0) scale(2);
    }

    &_btn span:nth-child(1) {
      --n: 1;
    }

    &_btn span:nth-child(2) {
      --n: 2;
    }

    &_btn span:nth-child(3) {
      --n: 3;
    }

    &_btn span:nth-child(4) {
      --n: 4;
    }
  }

  &-bottomContent {
    margin-block: 377px 91px;
    @include flexCtr;
    @include flexDrt;
    transform: translateY(330px);
    transition: 1.2s;

    @include mediaMobileFirst(1300) {
      margin-block: 300px 80px;
    }

    @include mediaMobileFirst(1130) {
      margin-block: 230px 70px;
    }

    @include mediaMobileFirst(950) {
      margin-block: 180px 30px;
    }

    @include mediaMobileFirst(840) {
      margin-block: 150px 20px;
    }

    @include mediaMobileFirst(460) {
      margin-block: 90px 20px;
    }

    &_title {
      text-align: center;
      font-family: $ral-sembold;
      font-size: 35px;
      line-height: 137.4%;
      color: $white;

      @include mediaMobileFirst(1300) {
        font-size: 30px;
        line-height: 130%;
      }

      @include mediaMobileFirst(1130) {
        font-size: 25px;
        line-height: 125%;
      }

      @include mediaMobileFirst(950) {
        font-size: 20px;
        line-height: 120%;
      }

      @include mediaMobileFirst(840) {
        color: $gray;
      }
    }

    &_text {
      font-family: $ral-sembold;
      font-size: 18px;
      line-height: 137.4%;
      color: $white;
      margin-block: 38px 52px;
      text-align: center;

      @include mediaMobileFirst(1300) {
        font-size: 15px;
        line-height: 130%;
        margin-block: 25px 40px;
      }

      @include mediaMobileFirst(1130) {
        font-size: 12px;
        line-height: 125%;
        margin-block: 20px 30px;
      }

      @include mediaMobileFirst(950) {
        max-width: 250px;
        width: 100%;
        margin-block: 15px 20px;
      }

      @include mediaMobileFirst(840) {
        color: $gray;
      }
    }
  }
}
