@font-face {
    font-family: "Raleway-Bold";
    src: url(../../fonts/Raleway-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url(../../fonts/Raleway-SemiBold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: "Raleway-Medium";
    src: url(../../fonts/Raleway-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../../fonts/Roboto-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../../fonts/Roboto-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../../fonts/Roboto-Regular.woff2);
    font-weight: 400;
}