//Fonts
$ral-bold: "Raleway-Bold";
$ral-sembold: "Raleway-SemiBold";
$ral-med: "Raleway-Medium";
$rob-bold: "Roboto-Bold";
$rob-med: "Roboto-Medium";
$rob-reg: "Roboto-Regular";

//Colors
$black: #000;
$dark: #333333;
$gray: #33333380;
$light-dark: #6d6d6d;
$dark-white: #f3f3f3;
$green-blue: #00a692;
$white-yellow: #1ff0d7;
$green: #4bee6f;
$white-gray: #e5e5e5;
$dark-green: #00a692;
$white: #fff;
$pink: #f6b5cc;
$light-gray: #a7a7a7;
$dark-pink: #6d678e;
$brown: #a0a0a059;
$btnShadow: 0px 50px 50px rgba(24, 133, 107, 0.2);
$liner-darkPink: linear-gradient(
  89.73deg,
  rgba(109, 103, 142, 0.9) 0.18%,
  rgba(246, 181, 204, 0.9) 99.72%
);
